<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iss.yzsxy.dao.user.LoginMapper" >
  <resultMap id="BaseResultMap" type="com.iss.yzsxy.pojo.user.Login" >
    <id column="loginId" property="loginid" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="roleId" property="roleid" jdbcType="INTEGER" />
  </resultMap>

  <sql id="Base_Column_List" >
    loginId, username, password, roleId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_login
    where loginId = #{loginid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_login
    where loginId = #{loginid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.iss.yzsxy.pojo.user.Login" >
    insert into tb_login (loginId, username, password, 
      roleId)
    values (#{loginid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{roleid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyColumn="loginId" keyProperty="loginid" parameterType="com.iss.yzsxy.pojo.user.Login" >
    insert into tb_login
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="loginid != null" >
        loginId,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="roleid != null" >
        roleId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="loginid != null" >
        #{loginid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null" >
        #{roleid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iss.yzsxy.pojo.user.Login" >
    update tb_login
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null" >
        roleId = #{roleid,jdbcType=INTEGER},
      </if>
    </set>
    where loginId = #{loginid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iss.yzsxy.pojo.user.Login" >
    update tb_login
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      roleId = #{roleid,jdbcType=INTEGER}
    where loginId = #{loginid,jdbcType=INTEGER}
  </update>

  <!--根据用户名查找用户信息-->
  <select id="findByUname" resultType="com.iss.yzsxy.pojo.user.SysUser">
    select username,password,roleId as roles,loginId as id from tb_login where username = #{uname}
  </select>

  <update id="updatePassword">
    update tb_login
    SET  password = #{newPassword}
    WHERE
      username = #{username} AND
      password = #{password}
  </update>

  <insert id="insertBatch" useGeneratedKeys="true" keyProperty="loginid">
    INSERT INTO tb_login(username,password,roleId) VALUES
    <foreach collection="list" item="item" separator=",">
      (#{item.username},#{item.password},#{item.roleid})
    </foreach>
  </insert>
  <update id="resetTeacherPassword" >
    update tb_login
    SET
    password = #{password,jdbcType=VARCHAR}
    WHERE loginId IN
    <foreach collection="Tloginids" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </update>
  <update id="resetStudentPassword" >
    update tb_login
    SET
    password = #{password,jdbcType=VARCHAR}
    WHERE loginId IN
    <foreach collection="Sloginids" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </update>
  <update id="resetAdminPassword">
    UPDATE
      tb_login
    SET
      password = #{password,jdbcType=VARCHAR}
    WHERE loginId IN
      <foreach collection="Aloginids" item="item" open="(" separator="," close=")">
        #{item}
      </foreach>

  </update>
</mapper>