<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>软通毕业设计题目分配系统-账号管理</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />    
    
    <link href="./css/bootstrap.min.css" rel="stylesheet" />
    <link href="./css/bootstrap-responsive.min.css" rel="stylesheet" />
    
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet" />
    <link href="./css/font-awesome.css" rel="stylesheet" />
    
    <link href="./css/adminia.css" rel="stylesheet" /> 
    <link href="./css/adminia-responsive.css" rel="stylesheet" /> 
    
    
    <link href="./css/pages/plans.css" rel="stylesheet" />
	  <link href="./css/fileinput.min.css" rel="stylesheet"/>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

<body>
	
<div class="navbar navbar-fixed-top">
	
	<div class="navbar-inner">
		
		<div class="container">
			
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 				
			</a>
			
			<a class="brand" href="./"><img src="temp/logo.ico" height="auto" width="101"/> 软通学生毕业设计题目分配系统</a>
			
			<div class="nav-collapse">
			
				<ul class="nav pull-right">

					<li class="divider-vertical"></li>
					
					<li class="dropdown">
						
						<a data-toggle="dropdown" class="dropdown-toggle " href="#">
							<span id="userName1"></span> <b class="caret"></b>
						</a>
						
						<ul class="dropdown-menu">
							<li>
								<a href="./studentaccount"><i class="icon-user"></i> 账号设置  </a>
							</li>
							

							
							<li class="divider"></li>
							
							<li>
								<a href="./logout"><i class="icon-off"></i> 退出</a>
							</li>
						</ul>
					</li>
				</ul>
				
			</div> <!-- /nav-collapse -->
			
		</div> <!-- /container -->
		
	</div> <!-- /navbar-inner -->
	
</div> <!-- /navbar -->




<div id="content">
	
	<div class="container">
		
		<div class="row">
			
			<div class="span3">
				
				<div class="account-container">
				
					<div class="account-avatar">
						<img id="userPic" onclick="openImagePanal()" src="./img/headshot.png" alt="" class="thumbnail" />
					</div> <!-- /account-avatar -->
				
					<div class="account-details">
					
						<span id="userName2" class="account-name">罗宾逊</span>
						
						<span class="account-role">学生</span>

						<span class="account-actions">
							<a href="./studentaccount">个人信息</a> |
							
							<a href="javascript:openImagePanal()">更改头像</a>
						</span>
					
					</div> <!-- /account-details -->
				
				</div> <!-- /account-container -->
				
				<hr />
				
				<ul id="main-nav" class="nav nav-tabs nav-stacked">


					<li>
						<a href="./myTitle">
							<i class="icon-home"></i>
							我的题目
						</a>
					</li>

					<li >
						<a href="./openReport">
							<i class="icon-th-large"></i>
							开题报告
						</a>
					</li>
					



				</ul>	
				
				
				
				<hr />
				
				<!--<div class="sidebar-extra">-->
					<!--<p>这里是提示信息文字这里是提示信息文字这里是提示信息文字这里是提示信息文字这里是提示信息文字这里是提示信息文字这里是提示信息文字这里是提示信息文字.</p>-->
				<!--</div> &lt;!&ndash; .sidebar-extra &ndash;&gt;-->
				
				<br />
		
			</div> <!-- /span3 -->
			
			
			
			<div class="span9">
				
				<h1 class="page-title">
					<i class="icon-th-large"></i>
					用户设置			
				</h1>

				<!--头像上传开始-->
				<div class="widget">
					<div id="imageWidget" hidden="hidden" class="row" style="position: absolute;z-index: 1;">
						<div class="span2">
							<div class="widget"></div>
						</div>
						<div class="span4">
							<div class="widget">
								<div align="center" class="widget-header">
									头像上传
								</div>
								<div class="widget-content">
									<input style="float:left;" id="photo" multiple="multiple" type="file" name="photo"/>
									<button style="float:right;" onclick="closeImagePanal()" class="btn btn-danger">关闭</button>

								</div>
							</div>
						</div>
					</div>
				</div>
				<!--头像上传结束-->
				
				
				<div class="row">
					
					<div class="span9">
				
						<div class="widget">
							
							<div class="widget-header">
								<h3>基本信息</h3>
							</div> <!-- /widget-header -->
									
							<div class="widget-content">
								
								
								
								<div class="tabbable">
						<ul class="nav nav-tabs">
						  <li class="active">
						    <a href="#1" data-toggle="tab">资料</a>
						  </li>
						  <li><a href="#2" data-toggle="tab">修改密码</a></li>
						</ul>
						
						<br />


									<div class="tab-content">
										<div class="tab-pane active" id="1">
											<form id="edit-profile" class="form-horizontal" >
												<fieldset>

													<div class="control-group">
														<label class="control-label" for="username">用户名：</label>
														<div class="controls">
															<input type="text" class="input-large disabled" id="username"  disabled="" />
															<p class="help-block">用户名是为登录而用，不能修改.</p>
														</div> <!-- /controls -->
													</div> <!-- /control-group -->


													<div class="control-group">
														<label class="control-label" for="realname">姓名：</label>
														<div class="controls">
															<input type="text" class="input-large" id="realname"/>
														</div> <!-- /controls -->
													</div> <!-- /control-group -->
													<div class="control-group">
														<label class="control-label" for="code">学号/工号：</label>
														<div class="controls">
															<input type="text" class="input-large" id="code"/>
														</div> <!-- /controls -->
													</div> <!-- /control-group -->

													<div class="control-group">
														<label class="control-label" for="age">年龄：</label>
														<div class="controls">
															<input type="text" class="input-large" id="age" value="" />
														</div> <!-- /controls -->
													</div> <!-- /control-group -->
													<div class="control-group">
														<label class="control-label" for="sex">性别：</label>
														<div class="controls">
															<select id="sex"  >
																<option value="1">男</option>
																<option value="0">女</option>
															</select>
														</div> <!-- /controls -->
													</div> <!-- /control-group -->


													<div class="control-group">
														<label class="control-label" for="qq">qq：</label>
														<div class="controls">
															<input type="text" class="input-large" id="qq" value="" />
														</div> <!-- /controls -->
													</div> <!-- /control-group -->
													<div class="control-group">
														<label class="control-label" for="wechat">微信：</label>
														<div class="controls">
															<input type="text" class="input-large" id="wechat" value="" />
														</div> <!-- /controls -->
													</div> <!-- /control-group -->
													<div class="control-group">
														<label class="control-label" for="phone">手机号：</label>
														<div class="controls">
															<input type="text" class="input-large" id="phone" value="" />
														</div> <!-- /controls -->
													</div> <!-- /control-group -->
													<div class="control-group">
														<label class="control-label" for="departments">学院：</label>
														<div class="controls">
															<input type="text" class="input-large" id="departments" value="" />
														</div> <!-- /controls -->
													</div> <!-- /control-group -->
													<div class="control-group">
														<label class="control-label" for="major">专业：</label>
														<div class="controls">
															<input type="text" class="input-large" id="major" value="" />
														</div> <!-- /controls -->
													</div> <!-- /control-group -->

													<br /><br />




													<br />


													<div class="form-actions">
														<a href="javascript:updateUserinfo()"><input type="button" value="保存" class="btn btn-primary"></input></a>
														<button class="btn">取消</button>
													</div> <!-- /form-actions -->
												</fieldset>
											</form>
										</div>

										<div class="tab-pane" id="2">
											<form id="edit-profile2" class="form-horizontal" >
												<fieldset>



													<div class="control-group">
														<label class="control-label" for="oldP">密码: </label>
														<div class="controls">
															<input type="password" class="input-medium" id="oldP"  />
														</div>
													</div>
													<div class="control-group">
														<label class="control-label" for="newP">新密码：</label>
														<div class="controls">
															<input type="password" class="input-medium" id="newP" />
														</div> <!-- /controls -->
													</div> <!-- /control-group -->


													<div class="control-group">
														<label class="control-label" for="newP1">确认密码：</label>
														<div class="controls">
															<input type="password" class="input-medium" id="newP1"  />
														</div> <!-- /controls -->
													</div> <!-- /control-group -->




													<br />

													<div class="form-actions">
														<a href="javascript:updateUpwd()"><input type="button" value="保存" class="btn btn-primary"></input></a>
													</div>
												</fieldset>
											</form>
										</div>

									</div>
						  
						  
						</div>
								
								
								
								
								
								
								
								
							</div> <!-- /widget-content -->
							
						</div> <!-- /widget -->
						
					</div> <!-- /span9 -->
					
				</div> <!-- /row -->
				
				
				
				
				
				
				
				
				
			</div> <!-- /span9 -->
			
			
		</div> <!-- /row -->
		
	</div> <!-- /container -->
	
</div> <!-- /content -->
<br></br>	<br></br><br></br>


<div  style="position: fixed;bottom: 0;text-align: center">
	
	<div class="container">				
		<hr />
		<p>@Copy 2017-2018 软通动力教育培训事业部 All Rights Reserved</p>
	</div> <!-- /container -->
	
</div> <!-- /footer -->


    

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="./js/jquery-1.7.2.min.js"></script>
<script src="./js/myjs/fileinput.min.js"></script>
<script src="./js/myjs/fileinput_locale_zh.js"></script>

<script src="./js/bootstrap.js"></script>
<script src="./js/bootbox.js"></script>
<script src="./js/myjs/url.js"></script>
<script src="./js/myjs/main.js"></script>
<script src="./js/myjs/user.js"></script>
  </body>
</html>
